.results-table {
  width: 50%;
}

.results-table__list-title,
.results-table__list-item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 5px;
}

.results-table__list-title > :nth-child(1),
.results-table__list-item > :nth-child(1) {
  width: 20%;
  min-width: 100px;
  padding-right: 10px;
}

.results-table__list-title > :nth-child(2),
.results-table__list-item > :nth-child(2) {
  width: 50%;
  min-width: 100px;
  padding-right: 10px;
}

.results-table__list-title > :nth-child(3),
.results-table__list-item > :nth-child(3) {
  width: 10%;
  min-width: 60px;
  padding-right: 10px;
}

.results-table__list-title > :nth-child(4),
.results-table__list-item > :nth-child(4) {
  width: 20%;
  min-width: 100px;
}

